
//phone
@media print, screen and (max-width: 740px) {
}

//tablet
@media print, screen and (max-width: 1140px) and (min-width: 740px) {
}

//desktop
@media print, screen and (min-width: 1140px) {
  .main-container-body {
    padding: 0.5rem;
    border-radius: 40px;
    border: black solid 5px;
    width: 25%;
    margin: 5px auto;
    position: relative;
    min-height: 99vh;
  }
}
