.menu-show {
    transform: translateY(0px);
    transition: all 0.2s ease-out;
    width: 100%;
    background-color: white;
    z-index: 9;
    max-height: 4rem;
}

.hidden-menu {
    transition: all 0.2s ease-out;
    transform: translateY(70px) !important;
}

.width_max {
    max-width: 20%;
    flex: none;
}

.spanContainer {
    position: relative;
}

.unit {
    border-right: 0.3px solid gray;
    height: 100%;
    cursor: pointer;
}

.last-item{
    
    border-right: none !important;
}

.span-menu {
    display: grid;
    margin-bottom: 0.5em;
}

.icon-style {
    font-size: 1.4em;
}

p {
    margin: 0;
    outline: 0;
}


@media print, screen and (max-width: 740px) {
}

@media print, screen and (max-width: 1140px) and (min-width: 740px) {
}

@media print, screen and (min-width: 1140px) {
    .menu-show {
       border-radius: 50px;
        
    }
    
}
