/* You can add global styles to this file, and also import other style files */
body{
    background: rgb(236,236,254);
background: linear-gradient(0deg, rgba(236,236,254,1) 0%, rgba(166,240,255,1) 100%);
}
.w-20 {
    width: 20%;
}

.containsSuccess {
    font-style: normal;
    font-size: 100%;
    width: 250px;
    background-color: white;
    border-style: solid;
    border-color: white;
    padding-right: 15%;
    padding-left: 10%;
    height: 5rem;
    border-radius: 20px;
    text-align: justify;
    -webkit-box-shadow: 10px 10px 52px 0px rgba(0, 0, 0, 0.18);
    -moz-box-shadow: 10px 10px 52px 0px rgba(0, 0, 0, 0.18);
    box-shadow: 10px 10px 52px 0px rgba(0, 0, 0, 0.18);
}

.containsSuccess::after {
    content: "";
    width: 45px;
    height: 45px;
    position: absolute;
    top: 30%;
    margin-right: -0.5rem;
    right: 0;
    background-color: transparent;
    border-color: white;
    border-radius: 50px;
    background-image: url("./assets/success.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-color: #add172;
    background-size: 1.4em;
}

.titleSuccess {
    padding-top: 0.3rem;
    font-weight: bold;
    color: #add172;
    font-size: 1em;
}

.toast-top-right {
    padding-top: 1rem;
    padding-right: 1rem;
}

.messageSuccess {
    font-size: 0.8em;
    color: #606470;
}

.containsError {
    font-style: normal;
    font-size: 100%;
    width: 250px;
    background-color: white;
    border-style: solid;
    border-color: white;
    padding-right: 15%;
    padding-left: 10%;
    height: 5rem;
    border-radius: 20px;
    text-align: justify;
    -webkit-box-shadow: 10px 10px 52px 0px rgba(0, 0, 0, 0.18);
    -moz-box-shadow: 10px 10px 52px 0px rgba(0, 0, 0, 0.18);
    box-shadow: 10px 10px 52px 0px rgba(0, 0, 0, 0.18);
}

.containsError::after {
    content: "";
    width: 45px;
    height: 45px;
    position: absolute;
    top: 30%;
    margin-right: -0.5rem;
    right: 0;
    background-color: transparent;
    border-color: white;
    border-radius: 50px;
    background-image: url("./assets/error.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-color: #f16967;
    background-size: 1.1em;
}

.titleError {
    padding-top: 0.3rem;
    font-weight: bold;
    color: #f16967;
    font-size: 1em;
}

.messageError {
    font-size: 0.8em;
    color: #606470;
}

.classLoading {
    padding: 5rem;
    background-image: url("./assets/loadingRest.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 5rem;
    height: 2rem;
}
